    <header class="header" style="position: relative;">
        <div class="container header-inner">
            <a href="{{ROOT}}index.html" class="logo"><img src="{{ROOT}}images/logo-uap.png" alt="UAP – Universidad Autónoma del Paraguay" class="logo-img"></a>
            <button class="mobile-menu-btn">☰</button>
            <nav>
                <ul class="nav">
                    <li><a href="{{ROOT}}index.html">Inicio</a></li>
                    <li class="dropdown">
                        <a href="{{PAGES}}carreras.html">Carreras</a>
                        <div class="dropdown-content">
                            <div class="dropdown-faculty">Facultad de Ciencias Médicas y de la Salud</div>
                            <a href="{{CARRERAS}}podologia.html">Podología</a>
                            <a href="{{CARRERAS}}optica-y-contactologia.html">Óptica y Contactología</a>
                            <a href="{{CARRERAS}}fisioterapia.html">Fisioterapia</a>
                            <a href="{{CARRERAS}}fonoaudiologia.html">Fonoaudiología</a>
                            <a href="{{CARRERAS}}psicologia.html">Psicología</a>
                            <a href="{{CARRERAS}}nutricion.html">Nutrición</a>
                            <a href="{{CARRERAS}}odontologia.html">Odontología</a>
                            <div class="dropdown-faculty">Facultad de Ingenierías y Tecnologías</div>
                            <a href="{{CARRERAS}}ingenieria-en-informatica.html">Ingeniería en Informática</a>
                            <a href="{{CARRERAS}}ingenieria-en-tecnologia-de-alimentos.html">Ingeniería en Tecnología de Alimentos</a>
                            <div class="dropdown-faculty">Facultad de Ciencias Sociales y Humanas</div>
                            <a href="{{CARRERAS}}periodismo.html">Periodismo</a>
                            <a href="{{CARRERAS}}ciencias-de-la-educacion.html">Ciencias de la Educación</a>
                            <a href="{{CARRERAS}}educacion-parvularia.html">Educación Parvularia</a>
                            <a href="{{CARRERAS}}derecho.html">Derecho</a>
                            <a href="{{CARRERAS}}trabajo-social.html">Trabajo Social</a>
                            <a href="{{CARRERAS}}administracion-publica.html">Administración Pública</a>
                            <a href="{{CARRERAS}}administracion-de-empresas.html">Administración de Empresas</a>
                            <a href="{{CARRERAS}}ciencias-contables.html">Ciencias Contables</a>
                            <a href="{{CARRERAS}}contabilidad-y-auditoria.html">Contabilidad y Auditoría</a>
                            <a href="{{CARRERAS}}contaduria-publica.html">Contaduría Pública</a>
                            <a href="{{CARRERAS}}marketing-y-publicidad.html">Marketing y Publicidad</a>
                            <a href="{{CARRERAS}}ingenieria-comercial.html">Ingeniería Comercial</a>
                            <a href="{{CARRERAS}}ingenieria-en-comercio-internacional.html">Ingeniería en Comercio Internacional</a>
                            <a href="{{CARRERAS}}ingenieria-en-marketing.html">Ingeniería en Marketing</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="{{PAGES}}posgrados.html">Posgrados</a>
                        <div class="dropdown-content">
                            <a href="{{PAGES}}posgrados.html#diplomados">Diplomados</a>
                            <a href="{{PAGES}}posgrados.html#especializaciones">Especializaciones</a>
                            <a href="{{PAGES}}posgrados.html#maestrias">Maestrías</a>
                            <a href="{{PAGES}}posgrados.html#doctorados">Doctorados</a>
                        </div>
                    </li>
                    <li><a href="{{PAGES}}noticias.html">Noticias</a></li>
                    <li class="dropdown">
                        <a href="{{PAGES}}institucional.html">Institucional</a>
                        <div class="dropdown-content">
                            <a href="{{PAGES}}institucional.html#mision">Misión, Visión y Valores</a>
                            <a href="{{PAGES}}institucional.html#autoridades">Autoridades</a>
                            <a href="{{PAGES}}institucional.html#convenios">Convenios</a>
                            <a href="{{PAGES}}institucional.html#reglamentos">Reglamentos</a>
                        </div>
                    </li>
                    <li><a href="{{PAGES}}investigacion.html">Investigación</a></li>
                    <li><a href="{{PAGES}}estudiantes.html">Estudiantes</a></li>
                    <li><a href="{{PAGES}}contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
