    <header class="header" style="position: relative;">
        <div class="container header-inner">
            <a href="{{ROOT}}index.html" class="logo">
                <img src="{{ROOT}}images/logo-uap.png" alt="UAP – Universidad Autónoma del Paraguay" class="logo-img">
            </a>
            <button class="mobile-menu-btn">&#9776;</button>
            <nav>
                <ul class="nav">
                    <li><a href="{{ROOT}}index.html">Inicio</a></li>
                    <li class="dropdown">
                        <a href="{{PAGES}}carreras.html">Carreras</a>
                        <div class="dropdown-content careers-dropdown">
                            <div class="careers-grid-3col">
                                <div>
                                    <div class="dropdown-faculty">Ciencias Médicas y de la Salud</div>
                                    <a href="../carreras/odontologia.html">Odontología</a>
                                    <a href="../carreras/fisioterapia.html">Fisioterapia</a>
                                    <a href="../carreras/fonoaudiologia.html">Fonoaudiología</a>
                                    <a href="../carreras/psicologia.html">Psicología</a>
                                    <a href="../carreras/nutricion.html">Nutrición</a>
                                    <a href="../carreras/podologia.html">Podología</a>
                                    <a href="../carreras/optica-y-contactologia.html">Óptica y Contactología</a>
                                </div>
                                <div>
                                    <div class="dropdown-faculty">Ingenierías y Tecnologías</div>
                                    <a href="../carreras/ingenieria-en-informatica.html">Ingeniería en Informática</a>
                                    <a href="../carreras/ingenieria-en-tecnologia-de-alimentos.html">Ingeniería en Tecnología de Alimentos</a>
                                    <a href="../carreras/ingenieria-comercial.html">Ingeniería Comercial</a>
                                    <a href="../carreras/ingenieria-en-comercio-internacional.html">Ingeniería en Comercio Internacional</a>
                                    <a href="../carreras/ingenieria-en-marketing.html">Ingeniería en Marketing</a>
                                </div>
                                <div>
                                    <div class="dropdown-faculty">Ciencias Sociales y Humanas</div>
                                    <a href="../carreras/marketing-y-publicidad.html">Marketing y Publicidad</a>
                                    <a href="../carreras/periodismo.html">Periodismo</a>
                                    <a href="../carreras/ciencias-de-la-educacion.html">Ciencias de la Educación</a>
                                    <a href="../carreras/educacion-parvularia.html">Educación Parvularia</a>
                                    <a href="../carreras/derecho.html">Derecho</a>
                                    <a href="../carreras/trabajo-social.html">Trabajo Social</a>
                                    <a href="../carreras/administracion-publica.html">Administración Pública</a>
                                    <a href="../carreras/administracion-de-empresas.html">Administración de Empresas</a>
                                    <a href="../carreras/ciencias-contables.html">Ciencias Contables</a>
                                    <a href="../carreras/contabilidad-y-auditoria.html">Contabilidad y Auditoría</a>
                                    <a href="../carreras/contaduria-publica.html">Contaduría Pública</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="{{PAGES}}posgrados.html">Posgrados</a>
                        <div class="dropdown-content">
                            <a href="{{PAGES}}posgrados.html#diplomados">Diplomados</a>
                            <a href="{{PAGES}}posgrados.html#especializaciones">Especializaciones</a>
                            <a href="{{PAGES}}posgrados.html#maestrias">Maestrías</a>
                            <a href="{{PAGES}}posgrados.html#doctorados">Doctorados</a>
                        </div>
                    </li>
                    <li><a href="{{PAGES}}noticias.html">Noticias</a></li>
                    <li class="dropdown">
                        <a href="{{PAGES}}institucional.html">Institucional</a>
                        <div class="dropdown-content">
                            <a href="{{PAGES}}institucional.html#mision">Misión, Visión y Valores</a>
                            <a href="{{PAGES}}institucional.html#autoridades">Autoridades</a>
                            <a href="{{PAGES}}institucional.html#convenios">Convenios</a>
                            <a href="{{PAGES}}institucional.html#reglamentos">Reglamentos</a>
                        </div>
                    </li>
                    <li><a href="{{PAGES}}investigacion.html">Investigación</a></li>
                    <li><a href="{{PAGES}}estudiantes.html">Estudiantes</a></li>
                    <li><a href="{{PAGES}}contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
